<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80);">
  <div class="container">
    <h1 class="text-center">My movie lists</h1>
    <p class="text-center">Keeping track of all the movies I want to watch.</p>
  </div>
</div>

<div class="container">

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>


</div>

